<div>
  <p><a href="<%= @profile_url %>"><%= @display_name %></a></p>
  <img src="<%= @profile_image %>">
  <p>ID: <%= @id %></p>
  <p>Follower Count: <%= @follower_count %></p>
  <p>Country: <%= @country %></p>
  <p>Email: <%= @email%></p>

</div>